<div class="container p-3 my-5 bg-white rounded letter-container">
    <h4 class="m-4"> Dear Sprocket Security Hiring Team, </h4>
    <h5 class="m-4 letter-text"> 
        I would like to thank you for the opportunity to apply for the Junior Software Engineer position at Sprocket Security.
        I believe my experience with security tools such as SNYK, leading the SOC-2 security initiative, managing company secrets in Azure Key Vaults, 
        and supporting pentesting efforts makes me a strong candidate for this role. In addition to my security background,
        I bring both Front-End and Back-End experience working with Ruby on Rails, which will facilitate a smooth transition into this position.
        Moreover, having worked across various departments in a startup, including marketing, finance, operations, and technical roles, 
        I am uniquely positioned to contribute to the growth of Sprocket Security and its team. Thank you for taking the time to review my qualifications.
        I look forward to the possibility of continuing in the interview process.    
    </h5>
    <h4 class="m-4 text-end"> Sincerely, </h4>
    <h4 class="m-4 text-end"> Declan Nashold </h4>

</div>